# Created by .ignore support plugin (hsz.mobi)

# Java and Scala classes
*.class

# Log directories
logs/

# Build directories
target/
project/target/
project/project/

# sbt specific
.cache/
.history/
.lib/
dist/
lib_managed/
src_managed/
project/boot/
sbt.json

# IntelliJ IDEA specific
.idea/
*.iws
*.iml
*.ipr
projectoutput/

# Virtual machine crash logs
hs_err_pid*

# Scala-IDE specific
.scala_dependencies
.worksheet

# Coursier cache
Coursier/cache/
